@page "{id?}"
@model CivilizationModel
@{
    @if (Model.Item != null) {
        ViewData["Title"] = "Civilization " + Model.Item.Title;
        ViewData["MetaTitle"] = "Fictional Universe Taxonomy Research - Civilization " + Model.Item.Title;
        ViewData["MetaDescription"] = Model.Item.Description.Replace("\r", " ").Replace("\n", " ");
        ViewData["MetaImage"] = "/images/cover.jpg";
        ViewData["MetaImageAlt"] = " Fictional Universe Taxonomy Research Project cover image";
    }
}

@if (@Model.Item != null) {
    <h1>@Model.Item.Title</h1>

    <div class="my-textblock">
        <span>Universe</span>:
        <span>
            <a asp-page="Universe" asp-route-id="@Model.Item.Universe.SeoName">@Model.Item.Universe.Title</a>
        </span>
    </div>

    @await Html.PartialAsync("_BaseModelProperties", Model.Item)

    <div class="my-textblock">
        <h2>Datapoints</h2>
        @foreach (var datapoint in Model.Item.Datapoints) {
            <div>
                <h3>@datapoint.Metric</h3>
                <div>
                    <span>Value</span>: <span>@datapoint.Value</span>
                    (<span>@datapoint.Min</span> -
                    <span>@datapoint.Max</span>)
                </div>

                <div><span>Confidence</span>: <span>@datapoint.Confidence</span></div>

                @if (datapoint.References.Length > 0) {
                    <div>
                        <span>References</span>:
                        <ul>
                            @foreach (var reference in datapoint.References) {
                                <li>
                                    <a href="@reference">@reference</a>
                                </li>
                            }
                        </ul>
                    </div>
                }

                <div style="margin-top: 0.5em; white-space: pre-wrap">@datapoint.Comment</div>
            </div>
        }
    </div>

    @await Html.PartialAsync("_BaseModelDescription", Model.Item)
}
