@page "{id?}"
@model FactionModel
@{
    @if (Model.Faction != null) {
        ViewData["Title"] = "Faction " + Model.Faction.Title;
    }
}

@if (@Model.Faction != null) {
    <h1>@Model.Faction.Title</h1>

    <div class="my-textblock">
        <div>
            <span>Tags</span>:
            @foreach (var tag in Model.Faction.Tags) {
                <span class="my-tag">@tag</span>
            }
        </div>
        <div>
            <span>Edited</span>:
            @foreach (var editor in Model.Faction.Editors) {
                <a class="my-editor" href="@("http://github.com/" + editor)">@editor</a>
            }
        </div>
        <div>
            <span>Approved</span>:
            @foreach (var approver in Model.Faction.Approvers) {
                <a class="my-approver" href="@("http://github.com/" + approver)">@approver</a>
            }
        </div>
        <div>
            <span>Universe</span>:
            <span>
                <a asp-page="Universe" asp-route-id="@Model.Faction.Universe.SeoName">@Model.Faction.Universe.Title</a>
            </span>
        </div>
    </div>

    <div class="my-textblock" id="iDescription">
        <span id="iDescriptionSource">@Model.Faction.Description</span>
    </div>

    @await Html.PartialAsync("_MarkdownConverterPartial", new Shared._MarkdownConverterPartial.Model() { Source = "iDescriptionSource", Target = "iDescription"})
}
