@page "{id?}"
@model MetricModel
@{
    @if (string.IsNullOrEmpty(Model.Id)) {
        ViewData["Title"] = "Metrics";
        ViewData["MetaTitle"] = "Fictional Universe Taxonomy Research - All Metrics";
        ViewData["MetaDescription"] = "Metrics include: " + string.Join("^, ", Model.List.Where(x => x.Tags.Contains("index")).OrderBy(x => x.Order).Select(x => x.Title).ToArray());
        ViewData["MetaImage"] = "/images/cover.jpg";
        ViewData["MetaImageAlt"] = " Fictional Universe Taxonomy Research Project cover image";
    } else {
        ViewData["Title"] = "Metric " + Model.Item.Title;
        ViewData["MetaTitle"] = "Fictional Universe Taxonomy Research - Universe " + Model.Item.Title;
        ViewData["MetaDescription"] = Model.Item.Readme.Replace("\r", " ").Replace("\n", " ");
        ViewData["MetaImage"] = "/images/cover.jpg";
        ViewData["MetaImageAlt"] = " Fictional Universe Taxonomy Research Project cover image";
    }
}

@if (string.IsNullOrEmpty(Model.Id)) {
    <h1>Metrics</h1>
    <div class="my-textblock">
        @foreach (var metric in Model.List.Where(x => x.Tags.Contains("index")).OrderBy(x => x.Order)) {
            <div>
                <a asp-page="Metric" asp-route-id="@metric.SeoName">@metric.Title</a>
            </div>
        }
    </div>
} else {
    <h1>@Model.Item.Title</h1>

    @await Html.PartialAsync("_ModelTagsLinksImages", Model.Item)

    <div class="my-textblock">
        <div><span>Type</span>: <span>@Model.Item.Type</span></div>
        @if (!string.IsNullOrEmpty(Model.Item.Unit)) {
            <div><span>Unit</span>: <span>@Model.Item.Unit</span></div>
        }
        @if (!string.IsNullOrEmpty(Model.Item.Range)) {
            <div><span>Range</span>: <span>@Model.Item.Range</span></div>
        }
    </div>

    <div class="my-textblock">
        <h2>Civilizations</h2>
        @foreach (var group in Model.App.Data.Civilizations.Values
            .Where(c => c.Datapoints.ContainsKey(Model.Item.SeoName))
            .OrderByDescending(c => c.Order)
            .ThenBy(c => c.Universe.Title)
            .ThenBy(c => c.Year)
            .GroupBy(c => c.Universe)) {
            <div><a asp-page="/Universe" asp-route-id="@group.Key.SeoName">@group.Key.Title</a></div>
            @foreach (var civ in group) {
                <div style="padding-left: 1.5em">
                    <a asp-page="/Civilization" asp-route-id="@civ.SeoName">@civ.Title</a>: @civ.Datapoints[Model.Item.SeoName].Value
                </div>
            }
        }
    </div>

    @await Html.PartialAsync("_BaseModelReadme", Model.Item)
}
