@page "{id?}"
@model MetricModel
@{
    @if (string.IsNullOrEmpty(Model.Id)) {
        ViewData["Title"] = "Metrics";
    } else {
        ViewData["Title"] = "Metric " + Model.Item.Title;
    }
}
@if (string.IsNullOrEmpty(Model.Id)) {
    <h1>Metrics</h1>
    <ul>
        @foreach (var metric in Model.List) {
            <li>
                <a asp-page="Metric" asp-route-id="@metric.SeoName">@metric.Title</a>
            </li>
        }
    </ul>
} else {
    <h1>@Model.Item.Title</h1>

    @await Html.PartialAsync("_BaseModelProperties", Model.Item)

    <div class="my-textblock">
        <div><span>Type</span>: <span>@Model.Item.Type</span></div>
        <div><span>Unit</span>: <span>@Model.Item.Unit</span></div>
        <div><span>Range</span>: <span>@Model.Item.Range</span></div>
    </div>

    @await Html.PartialAsync("_BaseModelDescription", Model.Item)
}
