@page "{id?}"
@model futr.Pages.MetricModel

@if (string.IsNullOrEmpty(Model.Id)) {
    <h1>Metrics</h1>
    <ul>
        @foreach (var metric in Model.Metrics) {
            <li>
                <a asp-page="Metric" asp-route-id="@metric.Id">@metric.Title</a>
            </li>
        }
    </ul>
} else {
    <h1>@Model.Metric.Title</h1>
    <div class="my-textblock">
        <p><span>Tags</span>: <span>@string.Join(", ", Model.Metric.Tags)</span></p>
        <p><span>Type</span>: <span>@Model.Metric.Type</span></p>
        <p><span>Unit</span>: <span>@Model.Metric.Unit</span></p>
        <p><span>Range</span>: <span>@Model.Metric.Range</span></p>
    </div>
    <div class="my-textblock" id="iDescription">
        <span id="iDescriptionSource">@Model.Metric.Description</span>
    </div>

    @await Html.PartialAsync("_MarkdownConverterPartial", new Shared._MarkdownConverterPartial.Model() { Source = "iDescriptionSource", Target = "iDescription"})
}
