@page "{id?}"
@model TestModel

@if (string.IsNullOrEmpty(Model.Id)) {
    <h1>Universes</h1>
    @foreach (var universe in Model.Universes) {
        <a asp-page="Test" asp-route-id="@universe.SeoName">@universe.Title</a>
    }
} else {
    <h1>@Model.Universe.Title</h1>
    <div><span>Tags</span>: <span>@string.Join(", ", Model.Universe.Tags)</span></div>
    <h2>Civilizations</h2>
    @foreach (var (civilizationId, civilization) in Model.Universe.Civilizations) {
        <a asp-page="Civilization" asp-route-id="@civilization.SeoName">@civilization.Title</a>
    }
    <h2>Factions</h2>
    @foreach (var (factionId, faction) in Model.Universe.Factions) {
        <a asp-page="Faction" asp-route-id="@faction.SeoName">@faction.Title</a>
    }
}