@page "{id?}"
@model UniverseModel
@{
    @if (string.IsNullOrEmpty(Model.Id)) {
        ViewData["Title"] = "Universes";
    } else {
        ViewData["Title"] = "Universe " + Model.Item.Title;
    }
}

@if (string.IsNullOrEmpty(Model.Id)) {
    <h1>Universes</h1>
    <ul>
        @foreach (var universe in Model.List) {
            <li>
                <a asp-page="Universe" asp-route-id="@universe.SeoName">@universe.Title</a>
            </li>
        }
    </ul>
} else {
    <h1>@Model.Item.Title</h1>

    @await Html.PartialAsync("_BaseModelProperties", Model.Item)

    <div class="my-textblock">
        <div class="my-table">
            <div class="my-table-row my-table-head">
                <div class="my-table-cell">
                    <h2>Civilizations</h2>
                </div>
                @foreach (var metric in Model.Item.CommonMetrics) {
                    <div class="my-table-cell">
                        @metric
                    </div>
                }
            </div>
            @foreach (var civilization in Model.Item.Civilizations.Select(pair => pair.Value).OrderBy(x => x.Year)) {
                <div class="my-table-row">
                    <div class="my-table-cell">
                        <a asp-page="Civilization" asp-route-id="@civilization.SeoName">@civilization.Title</a>
                    </div>
                    @{
                        var cnt = 0;
                    }
                    @foreach (var metric in Model.Item.CommonMetrics) {
                        <div class="my-table-cell my-table-column-@(cnt++%2 == 0?"even":"odd")">
                            @civilization.Datapoints.Where(x => x.Metric == metric).Select(x => x.Value).FirstOrDefault()
                        </div>
                    }
                </div>
            }
        </div>
    </div>

    <div class="my-textblock">
        <h2>Factions</h2>
        <ul>
            @foreach (var (factionId, faction) in Model.Item.Factions) {
                <li>
                    <a asp-page="Faction" asp-route-id="@faction.SeoName">@faction.Title</a>
                </li>
            }
        </ul>
    </div>

    @await Html.PartialAsync("_BaseModelDescription", Model.Item)
}
