@page "{id?}"
@model UniverseModel

@if (string.IsNullOrEmpty(Model.Id)) {
    <h1>Universes</h1>
    <ul>
        @foreach (var universe in Model.Universes) {
            <li>
                <a asp-page="Universe" asp-route-id="@universe.SeoName">@universe.Title</a>
            </li>
        }
    </ul>
} else {
    <h1>@Model.Universe.Title</h1>
    <div class="my-textblock">
        <div><span>Tags</span>: <span>@string.Join(", ", Model.Universe.Tags)</span></div>
    </div>

    <div class="my-textblock">
        <h2>Civilizations</h2>
        <ul>
            @foreach (var (civilizationId, civilization) in Model.Universe.Civilizations) {
                <li>
                    <a asp-page="Civilization" asp-route-id="@civilization.SeoName">@civilization.Title</a>
                </li>
            }
        </ul>
    </div>

    <div class="my-textblock">
        <h2>Factions</h2>
        <ul>
            @foreach (var (factionId, faction) in Model.Universe.Factions) {
                <li>
                    <a asp-page="Faction" asp-route-id="@faction.SeoName">@faction.Title</a>
                </li>
            }
        </ul>
    </div>

    <div class="my-textblock" id="iDescription">
        <span id="iDescriptionSource">@Model.Universe.Description</span>
    </div>

    @await Html.PartialAsync("_MarkdownConverterPartial", new Shared._MarkdownConverterPartial.Model() { Source = "iDescriptionSource", Target = "iDescription"})
}
