@page "{id?}"
@model UniverseModel
@{
    @if (string.IsNullOrEmpty(Model.Id)) {
        ViewData["Title"] = "Universes";
        ViewData["MetaTitle"] = "Fictional Universe Taxonomy Research - All Universes";
        ViewData["MetaDescription"] = "Universes include: " + string.Join(", ", Model.List.Where(x => x.Tags.Contains("index")).OrderBy(x => x.Order).Select(x => x.Title).ToArray());
        ViewData["MetaImage"] = "/images/cover.jpg";
        ViewData["MetaImageAlt"] = " Fictional Universe Taxonomy Research Project cover image";
    } else {
        ViewData["Title"] = "Universe " + Model.Item.Title;
        ViewData["MetaTitle"] = "Fictional Universe Taxonomy Research - Universe " + Model.Item.Title;
        ViewData["MetaDescription"] = Model.Item.Readme.Replace("\r", " ").Replace("\n", " ");
        ViewData["MetaImage"] = "/images/cover.jpg";
        ViewData["MetaImageAlt"] = " Fictional Universe Taxonomy Research Project cover image";
    }
}

@if (string.IsNullOrEmpty(Model.Id)) {
    <h1>Universes</h1>

    @foreach (var universe in Model.List.Where(x => x.Tags.Contains("index")).OrderBy(x => x.Order)) {
        <div class="my-tile">
            <a asp-page="Universe" asp-route-id="@universe.SeoName"><img src="@(string.IsNullOrEmpty(universe.Tile) ? "/images/universe-default-tile.jpg": universe.Tile)" /></a>
            <div class="my-title">
                @universe.Title
            </div>
        </div>
    }

} else {
    <h1>@Model.Item.Title</h1>

    @await Html.PartialAsync("_BaseModelProperties", Model.Item)

    <div class="my-textblock">
        <div class="my-table">
            <div class="my-table-row my-table-head">
                <div class="my-table-cell">
                    <h2>Civilizations</h2>
                </div>
                @foreach (var metric in Model.Item.ShowcaseMetrics) {
                    <div class="my-table-cell">
                        @metric
                    </div>
                }
            </div>
            @foreach (var civilization in Model.Item.Civilizations.Select(pair => pair.Value).OrderBy(x => x.Year)) {
                <div class="my-table-row">
                    <div class="my-table-cell">
                        <a asp-page="Civilization" asp-route-id="@civilization.SeoName">@civilization.Id</a>
                        @if (Model.Item.ShowcaseMetrics.Length > 0) {
                            <text>:</text>
                        }
                    </div>
                    @{
                        var cnt = 0;
                    }
                    @foreach (var metric in Model.Item.ShowcaseMetrics) {
                        <div class="my-table-cell my-table-column-@(cnt++%2 == 0?"even":"odd")">
                            @civilization.Datapoints.Where(pair => pair.Value.Metric == metric).Select(pair => pair.Value.Value).FirstOrDefault()
                        </div>
                    }
                </div>
            }
        </div>
    </div>

    @if (Model.Item.Polities.Count() > 0) {
        <div class="my-textblock">
            <h2>Polities</h2>
            @foreach (var (polityId, polity) in Model.Item.Polities) {
                <div>
                    <a asp-page="Polity" asp-route-id="@polity.SeoName">@polity.Title</a>
                </div>
            }
        </div>
    }

    @await Html.PartialAsync("_BaseModelReadme", Model.Item)
}
