@if (Model is Models.BaseModel model) {

    <div class="my-textblock">
        <div>
            <span>Tags</span>:
            @if (model.Tags.Count == 0) {
                <text>-</text>
            } else {
                @foreach (var tag in model.Tags) {
                    <span class="my-tag">@tag</span>
                }
            }
        </div>
        <div>
            <span>Edited</span>:
            @if (model.Editors.Count == 0) {
                <text>-</text>
            } else {
                @foreach (var editor in model.Editors) {
                    <a class="my-editor" href="@("http://github.com/" + editor)">@editor</a>
                }
            }
        </div>
        <div>
            <span>Approved</span>:
            @if (model.Approvers.Count == 0) {
                <text>-</text>
            } else {
                @foreach (var approver in model.Approvers) {
                    <a class="my-approver" href="@("http://github.com/" + approver)">@approver</a>
                }
            }
        </div>
    </div>

    @if (model.Images != null && model.Images.Count > 0) {
        <div class="my-gallery">
            @foreach (var image in model.Images.Take(10)) {
                <div class="my-frame">
                    <img src="@image.Link" />
                    <div class="my-caption">@image.Caption</div>
                </div>
            }
        </div>
    }

}
