@if (Model is Models.BaseModel model) {

    @if (model.Tags.Count > 0 || model.Links.Count > 0) {
        <div class="my-textblock">

            @if (model.Tags.Count > 0) {
                <div>
                    <span>Tags</span>:
                    @foreach (var tag in model.Tags) {
                        <span class="my-tag">@tag</span>
                    }
                </div>
            }

            @if (model.Links.Count > 0) {
                <div>
                    <span>Links</span>:
                    <ul>
                        @foreach (var link in model.Links.Take(20)) {
                            <li><a class="my-link" href="@link.Link">@link.Text</a></li>
                        }
                    </ul>
                </div>
            }

        </div>
    }

    @if (model.Images.Count > 0) {
        <div class="my-gallery">
            @foreach (var image in model.Images.Take(10)) {
                <div class="my-gallery-image">
                    <div class="my-image">
                        <a href="@image.Page">
                            <img src="@image.Link" alt="@image.Text" title="@image.Text
@image.Page" />
                        </a>
                        <div class="my-caption">@image.Text</div>
                    </div>
                </div>
            }
        </div>
    }

}
