<div class="my-textblock">
    <div>
        <span>Tags</span>:
        @foreach (var tag in Model.Tags) {
            <span class="my-tag">@tag</span>
        }
    </div>
    <div>
        <span>Edited</span>:
        @if (Model.Editors.Length == 0) {
            <text>-</text>
        } else {
            @foreach (var editor in Model.Editors) {
                <a class="my-editor" href="@("http://github.com/" + editor)">@editor</a>
            }
        }
    </div>
    <div>
        <span>Approved</span>:
        @if (Model.Approvers.Length == 0) {
            <text>-</text>
        } else {
            @foreach (var approver in Model.Approvers) {
                <a class="my-approver" href="@("http://github.com/" + approver)">@approver</a>
            }
        }
    </div>
</div>

@if (Model.Images.Length > 0) {
    <div class="my-gallery">
        @foreach (var image in Model.Images) {
            <img src="@image" />
        }
    </div>
}
