<div class="my-card">
    @{
        var cardId = "iCard" + "njfhz3184ofhaj";
    }
    @if (Model.ImgSrc != "") {
        @if (Model.Link != "") {
            <a href="@Model.Link"><img class="my-card-img-top" src="@Model.ImgSrc" data-toggle="modal" data-target="#@(cardId)"></a>
        } else {
            <img class="my-card-img-top" src="@Model.ImgSrc" data-toggle="modal" data-target="#@(cardId)">
        }
        <div id="iCard@(cardId)" class="my-modal my-fade" tabindex="-1" role="dialog">
            <div class="my-modal-dialog my-modal-dialog-centered" style="max-width: 800px;">
                <div class="my-modal-content">
                    <div class="my-modal-body">
                        <img src="@Model.ImgSrc" alt="@Model.ImgAlt" >
                    </div>
                </div>
            </div>
        </div>
    }
    <div class="my-card-body">
        @if (Model.Title != "") {
            <h3 class="my-card-title">
                @if (Model.TitleHasLink) {
                    <a href="@Model.Link">@Model.Title</a>
                } else {
                    @if (Model.Anchor != "") {
                        <a name="@Model.Anchor">@Model.Title</a>
                    } else {
                        @Model.Title
                    }
                }
            </h3>
        }
        @if (Model.TextHasLink) {
            <p><a href="@Model.Link">@Html.Raw(@Model.Text)</a></p>
        } else {
            <p>@Html.Raw(Model.Text)</p>
        }
    </div>
</div>
