<div class="my-card">
    <div class="my-card-content">
        @if (Model.ImgSrc != "") {
            <div class="my-card-image">
                <div class="my-image">
                    @if (Model.Link != "") {
                        <a href="@Model.Link"><img src="@Model.ImgSrc" alt="@Model.ImgAlt" /></a>
                        <div class="my-caption">@Model.ImgCaption</div>
                    } else {
                        <img src="@Model.ImgSrc" alt="@Model.ImgAlt" />
                        <div class="my-caption">@Model.ImgCaption</div>
                    }
                </div>
            </div>
        }
        @if (Model.Title != "") {
            <div class="my-card-head">
                @if (Model.TitleHasLink) {
                    <a href="@Model.Link"><h3>@Model.Title</h3></a>
                } else {
                    <h3>@Model.Title</h3>
                }
            </div>
        }
        <div class="my-card-body">
            @if (Model.TextHasLink) {
                <a href="@Model.Link">@Html.Raw(Model.Text)</a>
            } else {
                @Html.Raw(Model.Text)
            }
        </div>
    </div>
</div>