@inject LinkGenerator Links
@using Microsoft.AspNetCore.Http
@using n3q.Tools
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <meta name="description" content="@(ViewData["MetaDescription"])" />
    <meta property="og:title" content="@(ViewData["MetaTitle"])" />
    <meta property="og:description" content="@(ViewData["MetaDescription"])" />
    <meta property="og:image" content="@(ViewData["MetaImage"])" />
    <meta property="og:image:alt" content="@(ViewData["MetaImageAlt"])" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="@("https://" + Context.Request.Host + Context.Request.Path + Context.Request.QueryString)" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="@(ViewData["MetaTitle"])" />
    <meta name="twitter:description" content="@(ViewData["MetaDescription"])" />
    <meta name="twitter:image" content="@(ViewData["MetaImage"])" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>

<body>
    <div class="my-header">
        <a class="my-brand-text my-md" asp-area="" asp-page="/Index">Fictional Universe Taxonomy Research - FUTR Project</a>
        <a class="my-brand-text my-sm" asp-area="" asp-page="/Index">Fictional Universe Taxonomy Research</a>

        <ul class="my-site-menu">
            <li>
                <a class="button" asp-area="" asp-page="/Index">Home</a>
            </li>
            <li>
                <a class="button" asp-area="" asp-page="/Privacy">Privacy</a>
            </li>
        </ul>
    </div>

    <div class="my-main">
        @RenderBody()
    </div>

    <div class="my-footer">
        <p>
            &copy; 2023 
            - 
            Fictional Universe Taxonomy Research
            - 
            <a asp-area="" asp-page="/Privacy">Impressum</a>
           -
           <a asp-area="" asp-page="/Privacy">Privacy</a>
        </p>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>