@page "{id?}"
@model futr.Pages.UniverseModel
@{
}

<h1>Universe</h1>

<h2>CRU</h2>
<form method="post">
    <p>
        <label for="Id">ID:</label>
        <input type="text" id="Id" name="Universe.Id" value="@Model.Universe?.Id" />
    </p>
    <p>
        <label for="Name">Name:</label>
        <input type="text" id="Name" name="Universe.Name" value="@Model.Universe?.Name" />
    </p>
    <p>
        <label for="Name">Description:</label>
        <input type="text" id="Description" name="Universe.Description" value="@Model.Universe?.Description" />
    </p>
    <p>
        <label for="Name">Tags:</label>
        <input type="text" id="Tags" name="Universe.Tags" value="@Model.Universe?.Tags" />
    </p>
    <button type="submit" asp-page-handler="Create">Create</button>
    <button type="submit" asp-page-handler="Update">Update</button>
</form>

<h2>D</h2>
<form method="post">
    <p>
        <label for="Id">ID:</label>
        <input type="text" id="Id" name="Id" value="@Model.Universe?.Id" />
    </p>
    <button type="submit" asp-page-handler="Delete">Delete</button>
</form>
